body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 40px auto;
}

.item {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plot {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

h1 small {
  font-size: 15px;
  color: #666;
  font-style: normal;
}

p {
  font-size: 18px;
  margin-bottom: 24px;
}

.code-block {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

code {
  font-size: 16px;
  margin-bottom: 24px;
}

.copy-button {
  background-color: #56B3FA; /* Muted teal color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #4682B4; /* Duller teal on hover */
}

